body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 20px;
    line-height: 1.5;
}

*, :after, :before {
    box-sizing: inherit;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fix-wrapper{
    max-width: 1600px;
    margin: 0 auto;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #05161A;
}

main{
    flex: 1 1 auto;
}

input, textarea{
    font-size: 1em;
}

.inp-text{
    padding: 5px;
    border-radius: 5px;
}

.inp-text:hover{
    border-color: var(--black-pearl);
}

.inp-text:focus{
    background-color: #F2F6FB;
    transition: all .4s;
}

.menu-list{
    list-style: none;
    padding-left: 0;
}

.swiper-button-prev::after, .swiper-button-next::after{
    color: var(--moonstone-blue);
    font-size: 50px;
    font-weight: 700;
    transition: all .3s;
}

.errorMessage{
    color: #B70E1C;
    font-weight: 600;
}

.successMessage{
    color: #00bc16;
    font-weight: 600;
}

@media only screen and (max-width: 1366px){
    body{
        font-size: 18px;
    }
}

@media only screen and (max-width: 992px){
    body{
        font-size: 16px;
    }
}