:root{
    --black-pearl: #05161A;
    --firefly: #072E33;
    --dark-grey-blue: #294D61;
    --moonstone-blue: #6DA5C0;
    --teal: #0F969C;
    --turquoise: #48CCCD;
    --white: #FFF;
    --grey: #939393;
}