header{
    top: 0;
    position: sticky;
    z-index: 200;
}
.mainHeader{
    background-color: var(--dark-grey-blue);
}

.headerBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.headerInnerBlock{
    display: flex;
    align-items: center;
    position: relative;
}

.headerBlockSearch{
    height: 10%;
}

.headerBlockSearch>label{
    display: flex;
}

.headerBlockSearch input{
    padding: 0 5px;
}

.headerBlockSearch.searchButton{
    border: 0;
    border-radius: 10%;
    width: 30px;
    transition: .2s linear;
}
.headerBlockSearch.searchButton>img{
    width: 100%;
}

.searchButton:hover{
    background-color: #DFDFDF;
}
.searchButton:active{
    background-color: #B7B7B7;
}

.headerBlockLogin{
    padding-left:  20px;
}

.userName{
    position: absolute;
    color: var(--white);
    top: 22%;
    right: 105%;
    font-weight: 600;
    max-width: 11em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.headerBlockLogo{
    width: 8em;
}

.headerBlockLogo img{
    width: 100%;
}