.title{
    color: hsl(var(--grey));
}

.userProfileContentTitle{
    font-size: 1.5em;
    font-weight: 700;
}

.userProfileContentRole{
    font-size: .7em;
}

.myAccountForm{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}


.userProfileContent::before{
    position: absolute;
    top: 4em;
    left: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: hsl(var(--grey)/.3);
}

.userProfileContentTitle>span{
    position: relative;
    color: var(--dark-grey-blue);
    font-weight: 700;
    font-style: italic;
}

.userProfileNavBar{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.navItem{
    display: flex;
    align-items: center;
    position: relative;
}

.navItem.active{
    background-color: hsl(var(--moonstone-blue));
    color: white;
}

.userProfileNavBar a{
    transition: all .3s;
    line-height: 1.6em;
    padding: .3em;
}

.userProfileContentForm div{
    padding: 5px 0;
}
.userProfileContentOrders>li{
    padding: 5px 0;
}

.ordersItem{
    padding: 10px;
    cursor: pointer;
    background-color: rgba(203,203,203,0.31);
    transition: all .3s;
}

.ordersItem:hover{
    background-color: #AACDDD;
}

.currentOrdersItem{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
}

.currentOrdersItem span{
    font-weight: 700;
}

.transparentField{
    box-shadow: 0 2px 4px 1px hsl(var(--grey)/.2);
    border: none;
}

.transparentField:disabled{
    /* background-color: hsl(var(--grey)/.01); */
}

.transparentField:focus{
    outline: none;
    background-color: white;
}