.label{
    display: block;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: .5em;
    color: hsl(var(--grey));
}

.input{
    padding: .4em;
    border-radius: 5px;
    box-shadow: 0 2px 4px 1px hsl(var(--grey)/.5);
    border: 2px solid hsl(var(--grey)/.5);
}   

.input:hover{
    border-color: var(--black-pearl);
}

.input:focus{
    box-shadow: 0 0 10px 0 var(--turquoise);
    transition: all .4s;
}

.errorMessage{
    font-size: .8em;
    color: #B70E1C;
}

.error{
    background-color: #F9E0E2;
    border-color: #B70E1C;
}